@tailwind base;
@tailwind utilities;
@tailwind components;
@media screen and (max-width: 640px) {
  .scroll-down svg {
    transform: translateY(3px) scaleY(1.3) !important;
  }
}
@media screen and (max-width: 900px) {
  #menu .change-language .icon {
    transform: rotate(0deg) !important;
  }
}
@media screen and (max-width: 1536px) {
  #header #header-content .slider-container .slick-slider {
    transform: translateX(22%) scale(1.2) !important;
  }
}
@media screen and (min-width: 900px) {
  #articles-items .filter .filter-item span {
    color: #808080 !important;
  }
  #articles-items .filter .filter-item svg path {
    stroke: #808080 !important;
  }
  #menu .change-language .language-list {
    left: unset !important;
  }
  #menu .change-language .icon {
    transform: rotate(90deg);
  }
  #gallery-items .gallery-wrapper {
    grid-template-rows: 200px 200px !important;
  }
  #support .form-wrapper form.lang-en {
    transform: translateX(-145px) !important;
  }
  #support .form-wrapper form.lang-en .circle-wrapper {
    width: 250px !important;
    height: 250px !important;
  }
  #support .form-wrapper form.lang-en .input-g {
    width: calc(100% - 250px) !important;
  }
  #questions .first {
    width: 500px !important;
  }
  #questions .last {
    width: calc(100% - 500px) !important;
  }
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../../public/fonts/Montserrat-Medium.ttf") format("truetype");
}
.montserrat-medium {
  font-family: "Montserrat-Medium" !important;
}

@font-face {
  font-family: "Peyda-Medium";
  src: url("../../public/fonts/Peyda-Medium.ttf") format("truetype");
}
.peyda-medium {
  font-family: "Peyda-Medium" !important;
}

@font-face {
  font-family: "Peyda-Bold";
  src: url("../../public/fonts/Peyda-Bold.ttf") format("truetype");
}
.peyda-bold {
  font-family: "Peyda-Bold" !important;
}

@font-face {
  font-family: "Yekan-Bold";
  src: url("../../public/fonts/YekanBakh-Bold.ttf");
}
.yekan-bold {
  font-family: "Yekan-Bold" !important;
}

@font-face {
  font-family: "Yekan-Exterabold";
  src: url("../../public/fonts/YekanBakh-Exterabold.ttf");
}
.yekan-exterabold {
  font-family: "Yekan-Exterabold" !important;
}

body.body-lang-en {
  font-family: "Montserrat-Medium" !important;
}

body.body-lang-other {
  font-family: "Peyda-Medium" !important;
}

body.body-lang-other h1,
body.body-lang-other h2 {
  font-family: "Yekan-Exterabold" !important;
}

body {
  background-color: rgba(238, 243, 240, 0.9607843137);
  overflow-x: hidden;
  overflow-y: hidden;
}

::selection {
  color: white;
  background-color: #3d3d3d;
}

.overflow-y-hidden {
  overflow-y: hidden !important;
}

.wrapper {
  max-width: 1500px !important;
}

.h-100 {
  height: 100% !important;
}

.rotate-180 {
  transform: rotate(180deg) !important;
}

.flip-horizontal {
  transform: scaleX(-1) !important;
}

::-webkit-scrollbar {
  width: 0.7vw;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #32cd32;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #006400;
}

#menu {
  transform: translateY(-102%);
  transition: 0.6313s ease;
}
#menu::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1490196078), #ffffff, rgba(255, 255, 255, 0.1490196078));
}
#menu .links a {
  color: #fff;
  transition: 0.313s ease;
}
#menu .links a:hover {
  color: #32cd32;
}
#menu .change-language .language {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  padding: 1px;
}
#menu .change-language .language-list {
  visibility: hidden;
  opacity: 0;
  transition: 0.313s ease;
}
#menu .social-media a:hover svg path {
  stroke: #32cd32;
}
#menu .social-media a svg path {
  transition: 0.313s ease;
}
#menu .burger-menu i {
  transition: 0.313s ease;
}
#header {
  overflow-y: scroll;
}
#header::-webkit-scrollbar {
  display: none;
}
#header #header-content .scroll-down {
  visibility: hidden;
  opacity: 0;
  transition: 0.4313s ease;
}
#header #header-content .scroll-down .scroll-wrapper {
  width: 25px;
  border-radius: 50px;
  height: 50px;
  border: 2px solid #fff;
  padding: 3px;
}
#header #header-content .scroll-down .scroll-wrapper .circle-wrapper {
  animation: topDown 2s infinite ease-in-out;
}
#header #header-content .scroll-down .scroll-wrapper .circle-wrapper .circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fff;
}
@keyframes topDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(76%);
  }
}
#header #header-content .content-inner .title {
  color: #fff;
}
#header #header-content .content-inner .title span {
  transition: 0.6313s ease;
}
#header #header-content .content-inner .description {
  color: rgba(255, 255, 255, 0.8509803922);
}
#header #header-content .content-inner .description span {
  transition: 0.6313s ease;
}
#header #header-content .content-inner .button-group {
  opacity: 0;
  visibility: hidden;
  transition: 0.6313s ease;
}
#header #header-content .content-inner .button-group .collaboration-btn {
  background-color: #32cd32;
  color: #fff;
  border: 2px solid transparent;
  transition: 0.313s ease;
}
#header #header-content .content-inner .button-group .collaboration-btn:hover {
  background-color: #006400;
}
#header #header-content .content-inner .button-group .about-us-btn {
  transition: 0.313s ease;
}
#header #header-content .content-inner .button-group .about-us-btn:hover {
  background-color: #fff;
  color: #006400;
}
#header #header-content .content-inner.lang-en .title span {
  transform: translateX(-101%);
}
#header #header-content .content-inner.lang-en .description span {
  transform: translateX(-101%);
}
#header #header-content .content-inner.lang-other .title span {
  transform: translateX(110%);
}
#header #header-content .content-inner.lang-other .description span {
  transform: translateX(110%);
}
#header #header-content .slider-container {
  opacity: 0;
  visibility: hidden;
  transition: 0.6313s ease;
}
#header #header-content .slider-container a:focus-visible {
  outline: none !important;
  box-shadow: unset !important;
}
#header #header-content .slider-container .skeleton-item {
  background: linear-gradient(90deg, #54e954, #39d839 42%, #2fbf2f -166%, #39d839 -92%, #54e954);
  background-size: 200% 100%;
  background-position: 0;
  animation: skeletonMove 2s infinite linear;
}
@keyframes skeletonMove {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 200%;
  }
}
#header #header-content .slider-container .slider-item {
  transition: 0.313s ease;
}
#header #header-content .slider-container .slider-item:hover {
  border-color: #32cd32;
}
#header #header-content .slider-container .slick-slide {
  padding: 0 4px;
}
#header #header-content .slider-container .slider-controls button {
  outline: 0;
  box-shadow: unset;
  background-color: transparent;
}
#header #header-content .slider-container .slider-controls button svg, #header #header-content .slider-container .slider-controls button rect, #header #header-content .slider-container .slider-controls button path {
  outline: 0;
  box-shadow: unset;
  background-color: transparent;
  transition: 0.1313s ease;
}
#header #header-content .slider-container .slider-controls button:hover svg {
  fill: #32cd32;
}
#header #header-content .slider-container .slider-controls button:hover svg rect {
  stroke: #32cd32;
}
#header #header-content .slider-container .slider-controls button:hover svg path {
  stroke: #fff;
}
#header #header-content .slider-container.lang-en .slick-slider {
  transform: translateX(22%) !important;
}
#header #header-content .slider-container.lang-other .slick-slider {
  transform: translateX(0) !important;
}

#footer .footer-item-wrapper .footer-item {
  background: linear-gradient(to right, #32cd32, #097b09);
}
#footer .footer-item-wrapper .footer-item:hover {
  animation: moveBg 2s infinite linear;
}
#footer .footer-item-wrapper .footer-item .footer-inner {
  border-radius: 5px;
}
#footer .footer-item-wrapper .footer-item .description .text {
  color: #F2F2F2;
}
#footer .footer-item-wrapper .footer-item .join-us form .input-g input::placeholder {
  color: white !important;
}
#footer .footer-item-wrapper .footer-item .join-us form .input-g button {
  transition: 0.313s ease;
}
#footer .footer-item-wrapper .footer-item .join-us form .input-g button:hover {
  background: #fff;
}
#footer .footer-item-wrapper .footer-item .join-us form .input-g button:hover path {
  stroke: #006400;
}
#footer .footer-item-wrapper .footer-item .join-us form .input-g button path {
  transition: stroke 0.313s ease;
}
#footer .footer-item-wrapper:nth-child(1) .footer-item {
  border-radius: 60px 16px 16px 16px;
}
#footer .footer-item-wrapper:nth-child(2) .footer-item {
  border-radius: 16px 60px 16px 16px;
}
#footer .footer-item-wrapper:nth-child(3) .footer-item {
  border-radius: 16px 60px 16px 16px;
}
#footer .footer-item-wrapper:nth-child(4) .footer-item {
  border-radius: 16px 16px 16px 60px;
}

#products #product-items .filter-res:hover span {
  color: #32cd32;
}
#products #product-items .filter-res:hover svg path {
  stroke: #32cd32;
}
#products #product-items .filter-res span {
  transition: 0.313s ease;
}
#products #product-items .filter-res svg path {
  transition: 0.313s ease;
}
#products #product-items .switch .switch-inner {
  transition: 0.313s ease;
}
#products #product-items .product-details .content {
  height: 0;
  transition: all 0.313s ease;
}
#products #product-items .product-details button {
  background-color: #E5FFE5;
  width: 100%;
}
#products #product-items .product-details button h2 {
  color: #454545;
}
#products #product-items .full-filter {
  overflow-y: scroll;
  transition: visibility 0.313s ease, opacity 0.313s ease;
  visibility: hidden;
  opacity: 0;
}
#products #product-items .full-filter::-webkit-scrollbar {
  display: none;
}

.product-card {
  height: 100%;
  background: linear-gradient(90deg, #22ba45, #069126 42%, #0b4b0b -166%, #069126 -92%, #22ba45);
  background-size: 200% 100%;
  background-position: 0;
}
.product-card:hover {
  animation: skeletonMove 2s 1 linear;
}
.product-card .card-content .description h2 {
  color: rgba(255, 255, 255, 0.8509803922);
}
.product-card .card-content .link {
  transition: 0.313s ease;
}
.product-card .card-content .link:hover {
  background-color: #fff;
  color: #006400;
}

#banner .banner-wrapper {
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center !important;
}
#banner .banner-wrapper .banner-inner {
  background-color: rgba(32, 32, 32, 0.5960784314);
}

#category .category-item {
  height: 40px;
  margin-bottom: 5px;
  background-color: #32cd32;
  transition: transform 0.6313s ease, margin 0.313s ease, background-color 0.212s ease;
}
#category .category-item:nth-child(odd) {
  transform: translateX(-100%);
}
#category .category-item:nth-child(even) {
  transform: translateX(100%);
}
#category .category-wrapper .category-circle {
  width: 130px;
  height: 130px;
  background-color: #fff;
  border-radius: 100%;
}
#category .category-wrapper .category-circle img {
  visibility: hidden;
  opacity: 0;
  transition: 0.3131s ease;
}
#category .category-wrapper .c-c-1 {
  left: -30%;
  transition: 0.5313s ease;
}
#category .category-wrapper .c-c-2 {
  right: -30%;
  transition: 0.5313s ease;
}
#category .category-wrapper .c-c-res-1 {
  top: -50%;
  transition: 0.4313s ease;
}
#category .category-wrapper .c-c-res-2 {
  bottom: -50%;
  transition: 0.4313s ease;
}
#category .category-wrapper .category-title .t1 {
  visibility: hidden;
  opacity: 0;
  transition: 0.313s ease;
}
#category .category-wrapper .category-title .t2 span {
  transform: translateY(-65%);
  transition: 0.4313s ease-in-out;
}
#category .category-wrapper .category-title .t3 span {
  transform: translateY(65%);
  transition: 0.4313s ease-in-out;
}
#category .category-wrapper .category-title .t4 span {
  transform: translateY(-65%);
  transition: 0.4313s ease-in-out;
}
#category .category-wrapper .category-title .t5 span {
  transform: translateY(65%);
  transition: 0.4313s ease-in-out;
}
#category .category-wrapper .category-title .t6 span {
  transform: translateY(-65%);
  transition: 0.4313s ease-in-out;
}
#category .category-wrapper .category-title .t7 span {
  transform: translateY(65%);
  transition: 0.4313s ease-in-out;
}
#category .category-wrapper .category-circle:hover .overlay, #category .category-wrapper .category-circle-res:hover .overlay {
  visibility: visible;
  opacity: 1;
}
#category .category-wrapper .category-circle .overlay, #category .category-wrapper .category-circle-res .overlay {
  visibility: hidden;
  opacity: 0;
  transition: 0.313s ease;
  background: linear-gradient(to top, #121212, rgba(255, 255, 255, 0));
}

#support .title h1 {
  color: white;
  -webkit-text-stroke: 3px green;
  letter-spacing: 3px;
  text-fill-color: white;
}
#support .form-wrapper form .circle-wrapper {
  width: 200px;
  height: 200px;
  border: 7px solid #32cd32;
  border-radius: 100%;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.313s ease-in-out, opacity 0.4313s ease, visibility 0.4313s ease;
}
#support .form-wrapper form .circle-wrapper .circle-number:nth-child(2) {
  transform: rotate(-90deg);
}
#support .form-wrapper form .circle-wrapper .circle-number:nth-child(3) {
  transform: rotate(180deg);
}
#support .form-wrapper form .circle-wrapper .circle-number:nth-child(4) {
  transform: rotate(90deg);
}
#support .form-wrapper form .input-g {
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.43131s ease;
}
#support .form-wrapper form .input-g button {
  outline: 0;
  box-shadow: unset;
}
#support .form-wrapper form .input-g button:hover svg path {
  stroke: #fff;
}
#support .form-wrapper form .input-g button svg path {
  transition: 0.313s ease-in-out;
}
#support .image img {
  transition: 0.4313s ease-in-out;
}
#support .image img:first-child {
  transform: translateX(110%);
}
#support .image img:last-child {
  transform: translateX(90%);
}
#support .image.lang-other {
  transform: scaleX(-1) !important;
}

#article-slider .main-title {
  transition: 0.6313s ease-in;
  visibility: hidden;
  opacity: 0;
}
#article-slider #slider {
  transition: 0.6313s ease;
  transform: translateY(-50px);
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: 5;
  background: linear-gradient(to bottom, #006400 45%, #218b21 45%);
}
#article-slider #slider .slider-container {
  transform: translateY(-30px);
  transition: 0.6313s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
#article-slider #slider .slider-container.lang-en .slick-slide {
  transform: scale(0.7) !important;
  transition: 0.313s ease;
}
#article-slider #slider .slider-container.lang-en .slick-active {
  transform: scale(0.8) !important;
  transition: 0.313s ease;
}
#article-slider #slider .slider-container.lang-en .slick-current {
  transform: scale(1) !important;
  transition: 0.313s ease;
}

#questions .first .engineer-wrapper .engineer-inner {
  transform: translateY(-9%);
}
#questions .first .engineer-wrapper .question-mark {
  visibility: hidden;
  opacity: 0;
  transition: 0.4313s ease;
}
#questions .first .engineer-wrapper.lang-other {
  transform: scaleX(-1) !important;
  justify-content: flex-start;
}
#questions .first .engineer-wrapper.lang-other .question-mark {
  justify-content: flex-end;
}
#questions .last .faq-wrapper {
  height: 200px;
  min-height: 210px;
  visibility: hidden;
  opacity: 0;
  transition: 0.4313s ease;
  cursor: default;
}
#questions .last .faq-wrapper:hover {
  border-color: #ffd700;
}
#questions .last .faq-wrapper .content .text p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
#questions .last .faq-wrapper .answer {
  height: 40px;
  transition: 0.313s ease;
}
#questions .last .faq-wrapper .answer .bottom {
  visibility: hidden;
  opacity: 0;
  transition: 0.313s ease;
}

#about-barjil {
  background-color: #ffeb78;
  background: url("/img/about-barjil.jpg");
}
#about-barjil .galaxy svg {
  opacity: 0;
  visibility: hidden;
  transition: 0.6131s ease;
}
@keyframes galaxyRotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
#about-barjil .galaxy svg.lang-en {
  transform: translate(-50%, 50%);
}
#about-barjil .galaxy svg.lang-other {
  transform: translate(50%, 50%);
}
#about-barjil .barjil-trading .title {
  visibility: hidden;
  opacity: 0;
  transition: 0.613s ease;
}
#about-barjil .barjil-trading .title .about-title {
  color: transparent;
  -webkit-text-stroke: 2px #333333;
  letter-spacing: 3px;
  text-fill-color: white;
}
#about-barjil .barjil-trading .description span {
  display: block;
  transform: translateY(100%);
  transition: 0.613s ease;
}
#about-barjil .barjil-trading .link {
  visibility: hidden;
  opacity: 0;
  transition: 0.613s ease;
}

#articles-items .filter .filter-item {
  width: 120px;
}
#articles-items .filter .filter-item span {
  color: #808080;
}
#articles-items .filter .category-wrapper {
  width: calc(100% - 120px);
}
#articles-items .article .article-card {
  overflow: hidden;
}
#articles-items .article .article-card .image {
  width: 100%;
}

.pagination .prev:hover path, .pagination .prev:hover rect, .pagination .next:hover path, .pagination .next:hover rect {
  stroke: white;
}
.pagination .prev path, .pagination .prev rect, .pagination .next path, .pagination .next rect {
  transition: 0.313s ease;
}

#gallery-items .gallery-wrapper {
  grid-template-rows: 350px 150px 150px;
}

#contact-items .service .link {
  background: linear-gradient(to right, #32CD32, #006400);
}
#contact-items .contact .link a {
  transition: 0.313s ease;
}
#contact-items .contact .link a:hover + .front {
  height: 100%;
}
#contact-items .contact .link a:hover {
  color: white;
}
#contact-items .contact .link .front {
  height: 0;
  transition: 0.313s ease;
}

#feedback .feedback-wrapper .image {
  width: 105px;
}
#feedback .feedback-wrapper .content {
  width: calc(100% - 105px);
}
#feedback .form-wrapper form .link {
  background: linear-gradient(to right, #32CD32, #006400);
}

#about-items .benefits {
  transition: all 0.4313s ease;
  transform: translateY(-25px);
  visibility: hidden;
  opacity: 0;
}
#about-items .about-us-content .image-wrapper:hover .back {
  top: 0 !important;
  left: 0 !important;
}
#about-items .about-us-content .image-wrapper .back {
  transition: 0.313s ease;
  background-color: #fff;
}

#single-product-items .product-information .link a {
  background: linear-gradient(to right, #32CD32, #006400);
}
#single-product-items .product-information .product-slider .slider-controls button:hover path, #single-product-items .product-information .product-slider .slider-controls button:hover rect {
  stroke: #32cd32;
}
#single-product-items .product-information .product-slider .slider-controls button svg path, #single-product-items .product-information .product-slider .slider-controls button svg rect {
  transition: 0.313s ease;
}
#single-product-items .product-information .product-slider div:focus-visible {
  outline: none !important;
}
#single-product-items .product-information .product-slider.lang-en .slick-slide {
  transform: scale(0.8);
  transition: 0.313s ease;
}
#single-product-items .product-information .product-slider.lang-en .slick-current {
  transform: scale(1) !important;
  transition: 0.313s ease;
}
#single-product-items .explanations .explanations-inner .text .overlay {
  background: linear-gradient(to bottom, rgba(238, 243, 240, 0.6901960784), #eef3f0);
}

#article-banner {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

#scroll-down-wrapper .scroll-icons-wrapper {
  transform: translateY(-25px);
  animation: scrollDownAnimate 3s infinite step-start;
}
@keyframes scrollDownAnimate {
  0% {
    transform: translateY(-25px);
  }
  25% {
    transform: translateY(-16px);
  }
  50% {
    transform: translateY(-8px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-25px);
  }
}

#side-menu {
  overflow-y: scroll;
  transform: translateX(101%);
  transition: transform 0.313s ease;
  z-index: 100;
}
#side-menu .links a {
  position: relative;
  color: white;
}
#side-menu .links a:hover::before {
  height: 100%;
}
#side-menu .links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0%;
  background-color: #212020;
  transition: 0.313s ease;
}

#side-menu::-webkit-scrollbar {
  display: none;
}

#full-screen {
  visibility: hidden;
  opacity: 0;
  transition: 0.313s ease;
}

#loading {
  backdrop-filter: blur(20px);
  transition: visibility 0.313s ease, opacity 0.313s ease;
}

.support-constant .form-wrapper form .circle-wrapper {
  visibility: visible !important;
  opacity: 1 !important;
}
.support-constant .form-wrapper form .input-g {
  visibility: visible !important;
  opacity: 1 !important;
}
.support-constant .image img {
  transform: translateX(0) !important;
}

.constant {
  transform: translateY(0) !important;
}

.stroke-green {
  stroke: #32cd32 !important;
}

.color-green {
  color: #32cd32 !important;
}

.show-hidden {
  transform: translate(0) !important;
}

.show-hidden-activity {
  visibility: visible !important;
  opacity: 1 !important;
}

.rotate-270 {
  transform: rotate(270deg) !important;
}

.galaxy-animation {
  animation: galaxyRotate 5s 1 ease-in-out;
}

.switch-activity-lang-en {
  border-color: #32cd32;
}
.switch-activity-lang-en .switch-inner {
  transform: translateX(58.2313%);
}
.switch-activity-lang-en .switch-inner .circle {
  background-color: #32cd32;
}

.switch-activity-lang-other {
  border-color: #32cd32;
}
.switch-activity-lang-other .switch-inner {
  transform: translateX(-58.2313%);
}
.switch-activity-lang-other .switch-inner .circle {
  background-color: #32cd32;
}

@keyframes moveBg {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 400%;
  }
}
.tabs .css-g1imdf {
  border: 2px solid #D9D9D9;
  border-radius: 15px;
  overflow: hidden;
}
.tabs .MuiPaper-root {
  background-color: transparent !important;
  box-shadow: none !important;
  border-bottom: 2px solid #D9D9D9;
}
.tabs .MuiTabs-indicator {
  display: none;
}