@tailwind base;
@tailwind utilities;
@tailwind components;
body {
  background-color: #eaeaea;
  overflow-x: hidden;
}

::selection {
  color: white;
  background-color: #3d3d3d;
}

#menu {
  transform: translateY(-102%);
  transition: 0.6313s ease;
}
#menu::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1490196078), #ffffff, rgba(255, 255, 255, 0.1490196078));
}
#menu .links a {
  color: #fff;
  transition: 0.313s ease;
}
#menu .links a:hover {
  color: #32cd32;
}
#menu .change-language .language {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  padding: 1px;
}
#menu .social-media a:hover svg path {
  stroke: #32cd32;
}
#menu .social-media a svg path {
  transition: 0.313s ease;
}
#menu .burger-menu i {
  transition: 0.313s ease;
}
#header {
  overflow-y: scroll;
}
#header::-webkit-scrollbar {
  display: none;
}
#header #header-content .content-inner .title {
  color: #fff;
}
#header #header-content .content-inner .title span {
  transform: translateX(-101%);
  transition: 0.6313s ease;
}
#header #header-content .content-inner .description {
  color: rgba(255, 255, 255, 0.8509803922);
}
#header #header-content .content-inner .description span {
  transform: translateX(-101%);
  transition: 0.6313s ease;
}
#header #header-content .content-inner .button-group {
  opacity: 0;
  visibility: hidden;
  transition: 0.6313s ease;
}
#header #header-content .content-inner .button-group .collaboration-btn {
  background-color: #32cd32;
  color: #fff;
  border: 2px solid transparent;
  transition: 0.313s ease;
}
#header #header-content .content-inner .button-group .collaboration-btn:hover {
  background-color: #006400;
}
#header #header-content .content-inner .button-group .about-us-btn {
  transition: 0.313s ease;
}
#header #header-content .content-inner .button-group .about-us-btn:hover {
  background-color: #fff;
  color: #006400;
}
#header #header-content .slider-container {
  opacity: 0;
  visibility: hidden;
  transition: 0.6313s ease;
}
#header #header-content .slider-container .skeleton-item {
  background: linear-gradient(90deg, #54e954, #39d839 42%, #2fbf2f -166%, #39d839 -92%, #54e954);
  background-size: 200% 100%;
  background-position: 0;
  animation: skeletonMove 2s infinite linear;
}
@keyframes skeletonMove {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 200%;
  }
}
#header #header-content .slider-container .slider-item {
  transition: 0.313s ease;
}
#header #header-content .slider-container .slider-item:hover {
  border-color: #32cd32;
}
#header #header-content .slider-container .slick-slider {
  transform: translateX(22%);
}
#header #header-content .slider-container .slick-slide {
  padding: 0 4px;
}
#header #header-content .slider-container .slider-controls button svg, #header #header-content .slider-container .slider-controls button rect, #header #header-content .slider-container .slider-controls button path {
  transition: 0.1313s ease;
}
#header #header-content .slider-container .slider-controls button:hover svg {
  fill: #32cd32;
}
#header #header-content .slider-container .slider-controls button:hover svg rect {
  stroke: #32cd32;
}
#header #header-content .slider-container .slider-controls button:hover svg path {
  stroke: #fff;
}

#footer .footer-item-wrapper .footer-item {
  background: linear-gradient(to right, #32cd32, #097b09);
}
#footer .footer-item-wrapper .footer-item:hover {
  animation: moveBg 2s infinite linear;
}
#footer .footer-item-wrapper .footer-item .footer-inner {
  border-radius: 5px;
}
#footer .footer-item-wrapper .footer-item .description .text {
  color: #F2F2F2;
}
#footer .footer-item-wrapper .footer-item .join-us form .input-g input::placeholder {
  color: white !important;
}
#footer .footer-item-wrapper .footer-item .join-us form .input-g button {
  transition: 0.313s ease;
}
#footer .footer-item-wrapper .footer-item .join-us form .input-g button:hover {
  background: #fff;
}
#footer .footer-item-wrapper .footer-item .join-us form .input-g button:hover path {
  stroke: #006400;
}
#footer .footer-item-wrapper .footer-item .join-us form .input-g button path {
  transition: stroke 0.313s ease;
}
#footer .footer-item-wrapper:nth-child(1) .footer-item {
  border-radius: 60px 16px 16px 16px;
}
#footer .footer-item-wrapper:nth-child(2) .footer-item {
  border-radius: 16px 60px 16px 16px;
}
#footer .footer-item-wrapper:nth-child(3) .footer-item {
  border-radius: 16px 60px 16px 16px;
}
#footer .footer-item-wrapper:nth-child(4) .footer-item {
  border-radius: 16px 16px 16px 60px;
}

#products #product-items .sidebar .sidebar-inner {
  box-shadow: 0 1px 5px #c0c0c0;
}
#products #product-items .sidebar .sidebar-inner .product-details button {
  background-color: #E5FFE5;
  width: 100%;
}
#products #product-items .sidebar .sidebar-inner .product-details button h2 {
  color: #454545;
}
#products #product-items .product .product-card {
  background: linear-gradient(90deg, #4af54a, #0d890d 42%, #097609 -166%, #0d890d -92%, #4af54a);
  background-size: 200% 100%;
  background-position: 0;
}
#products #product-items .product .product-card:hover {
  animation: skeletonMove 3s infinite linear;
}
#products #product-items .product .product-card .card-content .description h2 {
  color: rgba(255, 255, 255, 0.8509803922);
}
#products #product-items .product .product-card .card-content .link {
  transition: 0.313s ease;
}
#products #product-items .product .product-card .card-content .link:hover {
  background-color: #fff;
  color: #006400;
}

#banner .banner-wrapper {
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center !important;
}
#banner .banner-wrapper .banner-inner {
  background-color: rgba(32, 32, 32, 0.5960784314);
}

#category .category-item {
  height: 35px;
  margin-bottom: 5px;
  background-color: #32cd32;
  transition: transform 0.6313s ease, margin 0.313s ease, background-color 0.212s ease;
}
#category .category-item:nth-child(odd) {
  transform: translateX(-100%);
}
#category .category-item:nth-child(even) {
  transform: translateX(100%);
}
#category .category-wrapper .category-circle {
  width: 130px;
  height: 130px;
  background-color: #fff;
  border-radius: 100%;
}
#category .category-wrapper .category-circle img {
  visibility: hidden;
  opacity: 0;
  transition: 0.3131s ease;
}
#category .category-wrapper .c-c-1 {
  left: -30%;
  transition: 0.5313s ease;
}
#category .category-wrapper .c-c-2 {
  right: -30%;
  transition: 0.5313s ease;
}
#category .category-wrapper .category-title .t1 {
  visibility: hidden;
  opacity: 0;
  transition: 0.313s ease;
}
#category .category-wrapper .category-title .t2 span {
  transform: translateY(-65%);
  transition: 0.4313s ease-in-out;
}
#category .category-wrapper .category-title .t3 span {
  transform: translateY(65%);
  transition: 0.4313s ease-in-out;
}
#category .category-wrapper .category-title .t4 span {
  transform: translateY(-65%);
  transition: 0.4313s ease-in-out;
}
#category .category-wrapper .category-title .t5 span {
  transform: translateY(65%);
  transition: 0.4313s ease-in-out;
}
#category .category-wrapper .category-title .t6 span {
  transform: translateY(-65%);
  transition: 0.4313s ease-in-out;
}
#category .category-wrapper .category-title .t7 span {
  transform: translateY(65%);
  transition: 0.4313s ease-in-out;
}

#side-menu {
  overflow-y: scroll;
  transform: translateX(101%);
  transition: transform 0.313s ease;
}
#side-menu .links a {
  position: relative;
}
#side-menu .links a:hover::before {
  width: 100%;
}
#side-menu .links a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #212020;
  transition: 0.313s ease;
}

#side-menu::-webkit-scrollbar {
  display: none;
}

.show-hidden {
  transform: translate(0) !important;
}

@keyframes moveBg {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 400%;
  }
}