// Tailwind

@tailwind base;
@tailwind utilities;
@tailwind components;

// Tailwind

// Variables

$body-color : #eef3f0f5;
$primary-color: #32cd32;
$primary-color-hover: #006400;
$primary-color-2: #ffa500;
$disable-color: #ffd700;
$neutral-white-color : #fff;
$neutral-white-color-2 : #F2F2F2;
$neutral-gray-color : #ffffffd9;
$neutral-gray-color-2 : #ffffff99;
$neutral-gray-color-3 : #ffffff73;
$right-shadow : linear-gradient(to right, #32cd32,#097b09);
$primary-button-color : #E5FFE5;
$gradient-1 : linear-gradient(to right, #32CD32, #006400 );
$gradient-2 : linear-gradient(to right, #006400, #32cd32 );
$h1-gray-color : #333333;
$h2-white-color : #ffffffd9;
$h2-gray-color : #454545;


// Variables

// Media Screen

@media screen and (max-width : 640px) {
    .scroll-down{
        svg{
            transform: translateY(3px) scaleY(1.3) !important;
        }
    }
}

@media screen and (max-width : 900px) {
    #menu{
        .change-language{
            .icon{
                transform: rotate(0deg) !important;
            } 
        }
    }
}



@media screen and (max-width : 1536px) {
    #header{
        #header-content{
            .slider-container{
                .slick-slider{
                    transform: translateX(22%) scale(1.2) !important;
                }
            }
        }
    }
}

@media screen and (min-width : 900px) {
    #articles-items{
        .filter{
            .filter-item{
                span{
                    color: #808080 !important;
                }
                svg{
                    path{
                        stroke : #808080 !important;
                    }
                }
            }
        }
    }
    #menu{
        .change-language{
            .language-list{
                left: unset !important;
            }  
            .icon{
                transform: rotate(90deg);
            } 
        }
    }

    #gallery-items{
        .gallery-wrapper{
            grid-template-rows: 200px 200px !important;
        }
    }
    #support{
        .form-wrapper{
            form{
                transform: translateX(-145px) !important;
                .circle-wrapper{
                    width: 250px !important;
                    height: 250px !important;
                }
                .input-g{
                    width: calc(100% - 250px) !important;
                }
            }
        }
    }
    #questions{
        .first{
            width: 500px !important;
        }
        .last{
            width: calc(100% - 500px) !important;
        }
    }
}



// Media Screen

// Reboot

body{
    background-color: $body-color;
    overflow-x: hidden;
    overflow-y: hidden;
}

::selection{
    color: white;
    background-color: #3d3d3d;
}

.wrapper{
    max-width: 1500px !important;
}

.h-100{
    height: 100% !important;
}

.rotate-180{
    transform: rotate(180deg) !important;
}

::-webkit-scrollbar{
    width: 0.7vw;
}

::-webkit-scrollbar-track{
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb{
    background-color: $primary-color;
    &:hover{
        background-color: $primary-color-hover;
    }
}
// Reboot


// Menu
#menu{
    transform: translateY(-102%);
    transition: 0.6313s ease;
    &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background: linear-gradient(to right,#ffffff26,#ffffff,#ffffff26);
    }
    .links{
        a{
            color: $neutral-white-color;
            transition: 0.313s ease;
            &:hover{
                color: $primary-color;
            }
        }
    }
    .change-language{
        .language{
            border: 2px solid $neutral-gray-color-2;
            border-radius: 100%;
            padding: 1px;
        }
        .language-list{
            visibility: hidden;
            opacity: 0;
            transition: 0.313s ease;
        }
    }
    .social-media{
        a{
            &:hover {
                svg{
                    path{
                        stroke: $primary-color;
                    }
                }
            }
            svg{
                path{
                    transition: 0.313s ease;
                }
            }
        }
    }
    .burger-menu{
        i{
            // color: $link-color;
            transition: 0.313s ease;
            &:hover{
                // color: $link-hover-color;
            }
        }
    }
}
// Header
#header{
    overflow-y: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    #header-content{
        .scroll-down{
            visibility: hidden;
            opacity: 0;
            transition: 0.4313s ease;
            .scroll-wrapper{
                width: 25px;
                border-radius: 50px;
                height: 50px;
                border: 2px solid $neutral-white-color;
                padding: 3px;
                .circle-wrapper{
                    animation: topDown 2s infinite ease-in-out;
                    .circle{
                        width: 10px;
                        height: 10px;
                        border-radius: 100%;
                        background-color: #fff;
                    }
                    @keyframes topDown {
                        from { 
                            transform: translateY(0);
                        }
                        to{
                            transform: translateY(76%);
                        }
                    }
                }
            }
        }
        .content-inner{
            .title{
                color: $neutral-white-color;
                span{
                    transform: translateX(-101%);
                    transition: 0.6313s ease;
                }
            }
            .description{
                color: $neutral-gray-color;
                span{
                    transform: translateX(-101%);
                    transition: 0.6313s ease;
                }
            }
            .button-group{
                opacity: 0;
                visibility: hidden;
                transition: 0.6313s ease;
                .collaboration-btn{
                    background-color: $primary-color;
                    color: $neutral-white-color;
                    border: 2px solid transparent;
                    transition: 0.313s ease;
                    &:hover{
                        background-color: $primary-color-hover;
                    }
                }
                .about-us-btn{
                    transition: 0.313s ease;
                    &:hover{
                        background-color: $neutral-white-color;
                        color: $primary-color-hover;
                    }
                }
            }
            
        }
        .slider-container{
            opacity: 0;
            visibility: hidden;
            transition: 0.6313s ease;
            a{
                &:focus-visible{
                    outline: none !important;
                    box-shadow: unset !important;
                }
            }
            .skeleton-item{
                background: linear-gradient(90deg, #54e954, #39d839 42%, #2fbf2f -166%, #39d839 -92%, #54e954);
                background-size: 200% 100%;
                background-position: 0;
                animation: skeletonMove 2s infinite linear;
                @keyframes skeletonMove {
                    0%{
                        background-position: 0;
                    } 
                    100%{
                        background-position: 200%;
                    }
                }
            }
            .slider-item{
                transition: 0.313s ease;
                &:hover{
                    border-color: $primary-color;
                }
            }
            .slick-slider{
                transform: translateX(22%);
            }
            .slick-slide {
                padding: 0 4px;
            }
            .slider-controls{
                button{
                    outline: 0;
                    box-shadow: unset;
                    background-color: transparent;
                    svg,rect,path{
                        outline: 0;
                        box-shadow: unset;
                        background-color: transparent;
                        transition: 0.1313s ease;
                    }
                    &:hover{
                        svg{
                            fill: $primary-color;
                            rect{
                                stroke: $primary-color;
                            }
                            path{
                                stroke: $neutral-white-color;
                            }
                        }
                    }
                }
            }
        }
    }
}
// Footer
#footer {
    .footer-item-wrapper{
        .footer-item{
            background: $right-shadow;
            // border-radius: 5px;
            // background-position: 0;
            // background-size: 200% 100% !important;
            // padding: 2px;
            // background: linear-gradient(90deg, #32cd32, #23bb42 20%, #92f0b5 50%, #23bb42 85%, #32cd32);
            &:hover{
                animation: moveBg 2s infinite linear;
            }
            .footer-inner{
                border-radius: 5px;
            }
            .description{
                .text{
                    color: $neutral-white-color-2;
                }
            }
            .join-us{
                form{
                    .input-g{
                        input{
                            &::placeholder{
                                color: white !important;
                            }
                        }
                        button{
                            transition: 0.313s ease;
                            &:hover{
                                background: $neutral-white-color;
                                path{
                                    stroke: $primary-color-hover;
                                }
                            }
                            path{
                                transition: stroke 0.313s ease;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-item-wrapper:nth-child(1){
        .footer-item{
            border-radius: 60px 16px 16px 16px;
        }
    }
    .footer-item-wrapper:nth-child(2){
        .footer-item{
            border-radius: 16px 60px 16px 16px;
        }
    }
    .footer-item-wrapper:nth-child(3){
        .footer-item{
            border-radius: 16px 60px 16px 16px;
        }
    }
    .footer-item-wrapper:nth-child(4){
        .footer-item{
            border-radius: 16px 16px 16px 60px;
        }
    }
}
// Products
#products{
    #product-items{
        .sidebar{
            .sidebar-inner{
                .switch{
                    .switch-inner{
                        transition: 0.313s ease;
                    }
                }
                .product-details{
                    .content{
                        height: 0;
                        transition: all 0.313s ease;
                    }
                    button{
                        background-color: $primary-button-color;
                        width: 100%;
                        h2{
                            color: $h2-gray-color;
                        }
                    }
                }
            }
        }
    }
}
// Product Card
.product-card{
    height: 100%;
    background: linear-gradient(90deg, #4af54a, #0d890d 42%, #097609 -166%, #0d890d -92%, #4af54a);
    background-size: 200% 100%;
    background-position: 0;
    &:hover{
        animation: skeletonMove 3s infinite linear;
    }
    .card-content{
        .description{
            h2{
                color : $h2-white-color;
            }
        }   
        .link{
            transition: 0.313s ease;
            &:hover{
                background-color: #fff;
                color: $primary-color-hover;
            }
        }                 
    }
}
// Banner
#banner{
    .banner-wrapper{
        background-repeat: no-repeat;
        background-size: cover !important;
        background-position: center !important;
        .banner-inner{
            background-color: #20202098;
        }
    }
}
// Category
#category{
    .category-item {
        height: 40px;
        margin-bottom: 5px;
        background-color: $primary-color;
        transition: transform 0.6313s ease,margin 0.313s ease,background-color 0.212s ease ;
    }
    .category-item:nth-child(odd){
        transform: translateX(-100%);
    }
    .category-item:nth-child(even){
        transform: translateX(100%);
    }
    .category-wrapper{
        .category-circle{
            width: 130px;
            height: 130px;
            background-color: #fff;
            border-radius: 100%;
            img{
                visibility: hidden;
                opacity: 0;
                transition: 0.3131s ease;
            }
        }
        .c-c-1{
            left: -30%;
            transition: 0.5313s ease;
        }
        .c-c-2{
            right: -30%;
            transition: 0.5313s ease;
        }
        .c-c-res-1{
            top: -50%;
            transition: 0.4313s ease;
        }
        .c-c-res-2{
            bottom: -50%;
            transition: 0.4313s ease;
        }
        .category-title{
            .t1{
                visibility: hidden;
                opacity: 0;
                transition: 0.313s ease;
            }
            .t2{
                span{
                    transform: translateY(-65%);
                    transition: 0.4313s ease-in-out;
                }
            }
            .t3{
                span{
                    transform: translateY(65%);
                    transition: 0.4313s ease-in-out;
                }
            }
            .t4{
                span{
                    transform: translateY(-65%);
                    transition: 0.4313s ease-in-out;
                }
            }
            .t5{
                span{
                    transform: translateY(65%);
                    transition: 0.4313s ease-in-out;
                }
            }
            .t6{
                span{
                    transform: translateY(-65%);
                    transition: 0.4313s ease-in-out;
                }
            }
            .t7{
                span{
                    transform: translateY(65%);
                    transition: 0.4313s ease-in-out;
                }
            }
        }

        .category-circle,.category-circle-res{
            &:hover{
                .overlay{
                    visibility: visible;
                    opacity: 1;
                }
            }
            .overlay{
                visibility: hidden;
                opacity: 0;
                transition: 0.313s ease;
                background: linear-gradient(to top, #121212, #ffffff00);
            }
        }
    }
}
// Support
#support{
    .title{
        h1{
            color: white;
            -webkit-text-stroke: 3px green;
            letter-spacing: 3px;
            text-fill-color: white;
        }
    }
    .form-wrapper{
        form{
            .circle-wrapper{
                width: 200px;
                height: 200px;
                border: 7px solid $primary-color;
                border-radius: 100%;
                visibility: hidden;
                opacity: 0;
                transition: transform 0.313s ease-in-out,opacity 0.4313s ease,visibility 0.4313s ease;
                .circle-number:nth-child(2){
                    transform: rotate(-90deg);
                }
                .circle-number:nth-child(3){
                    transform: rotate(180deg);
                }
                .circle-number:nth-child(4){
                    transform: rotate(90deg);
                }
            }
            .input-g{
                width: 100%;
                visibility: hidden;
                opacity: 0;
                transition: all 0.43131s ease;
                button{
                    outline: 0;
                    box-shadow: unset;
                    &:hover {
                        svg{
                            path{
                                stroke: $neutral-white-color;
                            }
                        }
                    }
                    svg{
                        path{
                            transition: 0.313s ease-in-out;
                        }
                    }
                }
            }
        }
    }
    .image{
        img{
            transition: 0.4313s ease-in-out;
        }
        img:first-child{
            transform: translateX(110%);
        }
        img:last-child{
            transform: translateX(90%);
        }
    }
}
// Article Slider
#article-slider {
    .main-title{
        transition: 0.6313s ease-in;
        visibility: hidden;
        opacity: 0;
    }
    #slider{
        transition: 0.6313s ease;
        width : 0;
        visibility: hidden;
        opacity: 0;
        position: relative;
        z-index: 5;
        background: linear-gradient(to bottom, #006400 45%, #218b21 45%);
        .slider-container{
            transform: translateY(-30px);
            transition: 0.6313s ease-in-out;
            visibility: hidden;
            opacity: 0;
            .slick-slide{
                transform: scale(0.7) !important;
                transition: 0.313s ease;
            }
            .slick-active{
                transform: scale(0.8) !important;
                transition: 0.313s ease;
            }
            .slick-current{
                transform: scale(1) !important;
                transition: 0.313s ease;
            }
        }
    }
}
// Questions
#questions{
    .first{
        .engineer-wrapper{
            .engineer-inner{
                transform: translateY(-9%);
            }
            .question-mark{
                visibility: hidden;
                opacity: 0;
                transition: 0.4313s ease;
            }
        }
    }
    .last{
        .faq-wrapper{
            height: 200px;
            min-height: 210px;
            visibility: hidden;
            opacity: 0;
            transition: 0.4313s ease;
            cursor: default;
            &:hover{
                border-color: $disable-color;
            }
            .content{
                .text{
                    p{
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 5;
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis;
    
                    }
                }
            }
            .answer{
                height: 40px;
                transition: 0.313s ease;
                .bottom{
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.313s ease;
                }
            }
        }
    }
}
// About Barjil
#about-barjil{
    background-color: #ffeb78;
    background: url('/img/about-barjil.jpg');
    .galaxy{
        svg{
            opacity: 0;
            visibility: hidden;
            transform: translate(-50%, 50%);
            transition: 0.6131s ease;
            
            @keyframes galaxyRotate {
                from{
                    transform: rotate(0);
                }
                to{
                    transform: rotate(360deg);
                }
            }
        }
    }
    .barjil-trading{
        .title{
            visibility: hidden;
            opacity: 0;
            transition: 0.613s ease;
            .about-title{
                color: transparent;
                -webkit-text-stroke: 2px #333333;
                letter-spacing: 3px;
                text-fill-color: white;
            }
        }
        .description{
            span{
                display: block;
                transform: translateY(100%);
                transition: 0.613s ease;
            }
        }
        .link{
            visibility: hidden;
            opacity: 0;
            transition: 0.613s ease;
        }
    }
}
// Articles
#articles-items{
    .filter{
        .filter-item{
            width: 120px;
            span{
                color: #808080;
            }
        }
        .category-wrapper{
            width: calc(100% - 120px);
        }
    }
    .article{
        .article-card{
            .image{
                width: 100%;
            }
        }
    }
}
// Gallery
#gallery-items{
    .gallery-wrapper{
        grid-template-rows: 350px 150px 150px;
    }
}
#contact-items{
    .service{
        .link{
            background: linear-gradient(to right, #32CD32, #006400);
        }
    }
}
// Feedback
#feedback {
    .feedback-wrapper{
        .image{
            width: 105px;
        }
        .content{
            width: calc(100% - 105px);
        }
    }
    .form-wrapper{
        form{
            .link{
                background: $gradient-1;
            }
        }
    }
}
// Benefits
#about-items{
    .benefits{
        transition:all 0.4313s ease;
        transform: translateY(-25px);
        visibility: hidden;
        opacity: 0;
    }
}
// Single Product
#single-product-items{
    .product-information{
        .link{
            a{
                background: $gradient-1;
            }
        }
        .product-slider{
            .slider-controls{
                button{
                    &:hover{
                        path,rect{
                            stroke : #32cd32
                        }
                    }
                    svg{
                        path,rect{
                            transition: 0.313s ease;
                        }
                    }
                }
            }
            div{
                &:focus-visible{
                    outline: none !important;
                }
            }
            .slick-slide{
                transform: scale(0.8);
                transition: 0.313s ease;
            }
            .slick-current{
                transform: scale(1) !important;
                transition: 0.313s ease;
            }
        }
    }
    .explanations{
        .explanations-inner{
            .text{
                .overlay{
                    background: linear-gradient(to bottom, #eef3f0b0, #eef3f0);
                }
            }
        }
    }
}
// Article Banner
#article-banner{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
// Side Menu
#side-menu{
    overflow-y: scroll;
    transform: translateX(101%);
    transition: transform 0.313s ease;
    z-index: 100;
    .links{
        a{
            position: relative;
            color: white;
            &:hover::before{
                height: 100%;
            }
            &::before{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 0%;
                background-color: #212020;
                transition: 0.313s ease;
            }
        }
    }
}
#side-menu::-webkit-scrollbar{
    display: none;
}
// Full Screen Element
#full-screen{
    visibility: hidden;
    opacity: 0;
    transition: 0.313s ease;
}
// Loading
#loading{
    backdrop-filter: blur(20px);
    transition: visibility 0.313s ease,opacity 0.313s ease;
}
// Activity Class

.constant{
    transform: translateY(0) !important;
}
.stroke-green{
    stroke: #32cd32 !important;
}
.color-green{
    color: #32cd32 !important;
}
.show-hidden{
    transform: translate(0) !important;
}
.show-hidden-activity{
    visibility: visible !important;
    opacity: 1 !important;
}
.rotate-270{
    transform: rotate(270deg) !important;
}
.galaxy-animation{
    animation: galaxyRotate 5s 1 ease-in-out;
}
.switch-activity{
    background-color: #626262;
    border-color: #626262;
    .switch-inner{
        transform: translateX(60%);
        .circle{
            background-color: #fff;
        }
    }
}
// Activity Class

// Keyframes

@keyframes moveBg {
    0%{
        background-position: 0;       
    }
    100%{
        background-position: 400%;
    }
}

// Keyframes

// Mui Styles

.tabs{
    .css-g1imdf{
        border: 2px solid #D9D9D9;
        border-radius: 15px;
        overflow: hidden;
    }
    .MuiPaper-root{
        background-color: transparent !important;
        box-shadow: none !important;
        border-bottom: 2px solid #D9D9D9;
    }
    .MuiTabs-indicator{
        display: none;
    }
}

// Mui Styles
